@import "../../vars.css";

.container{
    margin-top:79px;
    margin-left:10%;
    margin-right: 10%;
    padding:20px;
}

.container h1{
    color:var(--color-text);
    font-size:35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects{
    display: flex;
    flex-wrap:wrap;
    gap:30px;
}
.imgTextWrap{
    display: flex;
    flex-direction: column;
    padding:30px;
    width:30%;
    margin-top:20px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg,#576cbc 0%,#132a53);
    box-shadow:0 16;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.imgTextWrap:hover{
    transform:translateY(-10px) scale(1.0);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
    z-index:10;
}
.imgWrapper{
    width:100%;
}
.img{
    width:100%;
}
.text{
    justify-content: flex-end;
}

.text h3{
    font-size:20px;
    font-weight:700;
}
.text p{
    margin-top:6px;
    font-size:20px;
    font-weight: 400;
}

@media screen and (max-width:900px) {
    .projects{
        flex-direction: column;

    }
    .imgTextWrap{
        width:100%;
    }
    
}