@import "../../vars.css";


.container{
    margin-top:79px;
    margin-left:10%;
    margin-right: 10%;
    padding:20px;
}

.title{
    color:#fff;
}

.gpa{
    font-size: 30px;
    font-weight:700;
}