@import '../../vars.css';
.about{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 129px;
    border-radius: 15px;
    z-index:1;
    background-color:#0C0C0C99;
    padding:73px;
}

.imgTextWrap{
    display: flex;
    flex-direction: row;
}
.heroImage{
    width:50%;
    height:50%;
}
.content{
    width:50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap:8%;
    justify-content: space-between;
}

.tabs{
    display: flex;
    flex-direction:row;
    gap:10px;
    align-items: center;
    cursor:pointer;
    border-radius: 20px;
    background-image: linear-gradient(90deg,rgba(165,215,232,0.42)0%,rgba(255,255,255,0) 100%
    );
    background-size:0 100%;
    background-repeat: no-repeat;
    transition:0.4s;
    /* height: 30%; */

}
.tabs:hover{
    background-size: 100% 100%;
}
.contentText h3{
    font-size: 25px;
    font-weight:600;
}
.contentText p{
    font-size: 20px;
}

.button{
    text-align: center;
    padding:10px;
    border-radius: 20px;
    background-color:var(--color-primary);
    text-decoration: none;
    
}
.button:hover{
    background-color: #00a6ff6b;
}
.button a{
    text-decoration: none;
    color:var(--font-color);
}
@media screen and (max-width:900px) {
    .about{
        background-color: transparent;
        padding-left:0;
        padding-right: 0;
    }
    .heroImage{
        display: none;
    }
    .imgTextWrap{
        flex-direction: column;
    }
    .content{
        width:100%;
        padding:0;
        margin-top:29px;
        gap:50px;
    }

    
}
